<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dipesh Sinha - Full Stack Developer</title>
</head>
<body>
  <div class="body-wrap" (mousemove)="onMouseMoved($event)">
    <div class="content-box">
      <div class="cover-image" 
        [ngStyle]="{'height.px': xHeightValue, 'width.px': yWidthValue}">
          <div class="image1"></div>
          <div class="image2"
          [ngStyle]="{'width.px': '9000'}"></div>
      </div>
      <!-- <div class="cover-image-right"
      [ngStyle]="{'height.px': xHeightValue, 'width.px': yWidthValue}">
        <div class="image2"></div>
      </div> -->
    </div>





    <div class="xaxis" [ngStyle]="{'top.px': xAxisValue}"></div>
    <div class="yaxis" [ngStyle]="{'left.px': yAxisValue}"></div>
  </div>

</body>
</html>
