<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dipesh Sinha - Full Stack Developer</title>
</head>
<body>
  <div class="body-wrap">
    <div class="content-box">
      <div class="cover-image" 
        [ngStyle]="{'height.px': xHeightValue, 'width.px': yWidthValue}">
          <div class="image1"></div>
          <div class="image2"
          [ngStyle]="{'width.px': '9000'}"></div>
      </div>


      <div class="main-content"
      [ngStyle]="{'height.px': bottomDivHeight, 'width.px': bottomDivWidth}">

      <!-- Main Content Here -->

      <div class="inner-content"
      [ngStyle]="{'height.px': mainContentDivHeight, 'width.px': mainContentDivWidth}">
        <div class="title-text">
          Dipesh Sinha
          <div class="title-description">
            Designer and Developer
          </div>
        </div>

        <div class="li-wrap">
          <div class="li-box" id="li-box" (mouseenter)="cursorOnLink = !cursorOnLink" (mouseleave)="cursorOnLink = !cursorOnLink">About</div>
          <div class="li-box" id="li-box" (mouseenter)="cursorOnLink = !cursorOnLink" (mouseleave)="cursorOnLink = !cursorOnLink">Projects</div>
          <div class="li-box" id="li-box" (mouseenter)="cursorOnLink = !cursorOnLink" (mouseleave)="cursorOnLink = !cursorOnLink">Info</div>
          <div class="li-box" id="li-box" (mouseenter)="cursorOnLink = !cursorOnLink" (mouseleave)="cursorOnLink = !cursorOnLink">Contact</div>
          <div class="cursor" id="cursor" [ngStyle]="{'left.px': cursorPositionX, 'top.px': cursorPositionY}" [@mouseLinkHover]="cursorState()"></div>
        </div>
        
      </div>


    </div>
    

    </div>





    <div class="xaxis" [ngStyle]="{'top.px': xAxisValue}"></div>
    <div class="yaxis" [ngStyle]="{'left.px': yAxisValue}"></div>
  </div>

</body>
</html>
